.payment {
  width: 18rem;
  display: block;
}

.refund-details {
  font-size: 15px;
}

.dark-background-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  /* opacity: 0; */
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dark-background-spinner>div {
  background-color: rgba(0, 0, 0, 0.75);
}