.header-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* url("https://imageio.forbes.com/specials-images/imageserve/6123b033133106144df23946/Best-Home-Decor-Ideas--Nearly-Natural-faux-plants/960x0.jpg?fit=bounds&format=jpg&width=960"); */
      url("https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80");
  /* filter: grayscale(100%); */
  background-size: cover;
  background-position: center;
  height: 60rem;
  /* object-fit: contain; */
  margin-bottom: 6rem;
}

h1 {
  font-size: 2rem;
}
