.header-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://imageio.forbes.com/specials-images/imageserve/6123b033133106144df23946/Best-Home-Decor-Ideas--Nearly-Natural-faux-plants/960x0.jpg?fit=bounds&format=jpg&width=960");
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  height: 45rem;
  object-fit: contain;
  margin-bottom: 6rem;
}

h1 {
  font-size: 2rem;
}
