input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-wrap {
  display: flex;
  align-items: stretch;
  justify-content: end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.quantity-button {
  border: 1px solid #e1e1e1;
  background-color: white;
  width: 2rem;
}
.quantity-input {
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  width: 2.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
