input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-wrap {
  display: flex;
  align-items: stretch;
  margin-right: 5rem;
}

.quantity-button {
  border: 1px solid #e1e1e1;
  background-color: white;
  width: 2.5rem;
}

.quantity-input {
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
