:root {
  --pink: #de4e60;
  --yellow: rgb(227, 168, 1);
  --sky-blue: #b4dcd8;
  --blue-green: #01524f;
  --light-grey: #eae6e1;
  --light-beige: #eadfd7;
  --dark-grey: #585954;
  --darker-grey: #4c4c49;
  --black: #0a0a0a;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
}

/* NAVBAR */

#navbar-text-logo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2rem;
}
.navbar-icon {
  color: black;
}

.navbar-icon:hover {
  color: var(--dark-grey);
}

.navbar-links {
  text-decoration: none;
  color: black;
}
.navbar-links:hover {
  color: var(--dark-grey);
}

@media (min-width: 991px) {
  .navbar-links {
    position: relative;
    transition: all ease-in-out 250ms;
    margin-left: 2rem;
  }
  .navbar-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--black);
    transition: all ease-in-out 250ms;
  }
  .navbar-links:hover::after {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .navbar-links {
    overflow: hidden;
    margin-bottom: 1rem;
  }
  /* .navbar-icons {
    display: flex;
    flex-direction: column;
  } */
  .navbar-icon {
    margin-top: 1rem;
    text-align: center;
  }
  .navbar-links {
    text-align: center;
  }
}

/* FOOTER */

.footer-link {
  color: black;
  text-decoration: none;
}
.footer-link:hover {
  color: var(--dark-grey);
}

/* CART */

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

/* ejemplo de uso 
 p {
  color: var(--pink);
} */

/* fuentes:
font-family: 'Poppins', sans-serif;  //  kevohome
font-family: 'Red Hat Display', sans-serif; // cultocafe

*/
