:root {
  --pink: #de4e60;
  --yellow: rgb(227, 168, 1);
  --sky-blue: #b4dcd8;
  --blue-green: #01524f;
  --light-grey: #eae6e1;
  --light-beige: #eadfd7;
  --dark-grey: #585954;
  --darker-grey: #4c4c49;
  --black: #0a0a0a;
}

/* NAVBAR */

#navbar-text-logo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2rem;
}
.navbar-icons {
  color: black;
}

.navbar-icons:hover {
  color: var(--dark-grey);
}

.navbar-links {
  position: relative;
  transition: all ease-in-out 250ms;
}
.navbar-links::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  width: 0%;
  background-color: var(--black);
  bottom: -2.7rem;
  transition: all ease-in-out 250ms;
}
.navbar-links:hover::after {
  width: 100%;
}

/* FOOTER */

.footer-link {
  color: black;
  text-decoration: none;
}
.footer-link:hover {
  color: var(--dark-grey);
}

/* ejemplo de uso 
 p {
  color: var(--pink);
} */

/* fuentes:
font-family: 'Poppins', sans-serif;  //  kevohome
font-family: 'Red Hat Display', sans-serif; // cultocafe

*/

body {
  font-family: "Poppins", sans-serif;
}
