:root {
  --pink: #de4e60;
  --yellow: rgb(227, 168, 1);
  --sky-blue: #b4dcd8;
  --blue-green: #01524f;
  --light-grey: #eae6e1;
  --light-beige: #eadfd7;
  --dark-grey: #585954;
  --darker-grey: #4c4c49;
  --black: #0a0a0a;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  text-align: justify;
}

.App {
  min-height: 100vh;
}

/* NAVBAR */

#navbarScrollingDropdown {
  color: #0a0a0a;
}

#navbar-text-logo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2rem;
}
.navbar-icon {
  color: black;
}

.navbar-icon:hover {
  color: var(--dark-grey);
}

.navbar-links {
  text-decoration: none;
  color: black;
}
.navbar-links:hover {
  color: var(--dark-grey);
}
.navbar-icon .badge {
  min-width: 2rem;
}

.sobre-nosotros {
  animation-name: multicolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}
@keyframes multicolor {
  from {
    color: #e98a1d;
    box-shadow: 0 0 3px 0px #d37509 inset;
  }
  to {
    color: black;
  }
}

@media (min-width: 991px) {
  .navbar-links {
    position: relative;
    transition: all ease-in-out 250ms;
    margin-left: 2rem;
  }
  .navbar-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--black);
    transition: all ease-in-out 250ms;
  }
  .navbar-links:hover::after {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .navbar-links {
    overflow: hidden;
    margin-bottom: 1rem;
  }
  /* .navbar-icons {
    display: flex;
    flex-direction: column;
  } */
  .navbar-icon {
    margin-top: 1rem;
    text-align: center;
  }
  .navbar-links {
    text-align: center;
  }
}

/* FOOTER */

.footer-link {
  color: black;
  text-decoration: none;
}
.footer-link:hover {
  color: var(--dark-grey);
}

/* CART */

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

/* ABOUT US  */

.author-profile {
  text-align: center;
  height: 10rem;
}

.quienes-somos {
  transition: transform 1s;
}

.quienes-somos:hover {
  transform: scale(1.08);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgb(243, 243, 243);
  border: #dadada solid 0.0000001rem;
}

.bg-semi-transparent {
  background-color: rgba(0, 0, 0, 0.9);
}

.pointer a {
  display: flex;
  align-items: center;
}

#navbarScrollingDropdown {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
}

.image-gallery-image {
  position: relative;
  opacity: 0.2;
  transition: opacity 1s;
}
.image-gallery-slide::after {
  content: "Cargando imagen";
  background-color: var(--darker-grey);
  color: white;
  width: 100%;
  padding: 1.5rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.image-gallery-slide.loading::after {
  content: "";
}
/* .image-gallery-image::after {
  content: "Cargando imagen";
  background-color: var(--darker-grey);
  color: white;
  width: 100%;
  padding: 1.5rem 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
} */
.image-gallery-image.opacity-1 {
  opacity: 1;
}

/* Product Card */
.envImg {
  display: none;
  pointer-events: none;
}
.productImg:hover ~ .envImg {
  display: block;
}

/* fuentes:
font-family: 'Poppins', sans-serif;  //  kevohome
font-family: 'Red Hat Display', sans-serif; // cultocafe

*/

@media (min-width: 1800px) {
  .home-images-responsive {
    width: 100rem;
    height: 65rem;
    margin: auto;
  }
}
